body {
    margin: 0;
    
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #100744 0% , #49b6fa 54% , #1d1c43 100%);
    color: white;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.nav-menu li {
    margin-right: 20px;
}
.nav-menu a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
}
.nav-menu a:hover {
    color: #49b6fa;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 100px;
}

.contact-info {
    flex: 1;
    padding-right: 20px;
}

.contact-info h2 {
    font-size: 48px;
    margin-bottom: 10px;
}

.contact-info h2 span {
    color: #49b6fa;
}

.contact-info p {
    font-size: 32px;
    margin-bottom: 40px;
}

.contact-info .contact-details {
    font-size: 18px;
    margin-top: 20px;
}

.contact-info .contact-details a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    font-size: 20px;
}

.contact-info .contact-details a:hover {
    color: #49b6fa;
}

.contact-info .icons a {
    margin: 0 10px;
}

.contact-info .icons img {
    height: 30px;
    
}
.contact-form {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: stretch;
    margin-top: 20px;
    align-items: end;
}

.contact-form input, 
.contact-form textarea {
    width: 444px;
    height:71px
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: rgba(16, 7, 68, 0.8);
    color: white;
}

.contact-form textarea {
    height: 175px;
    width:444px
}

.contact-form button {
    width: 258px;
    height:37.66px;
    padding: 10px;
    background-color: #49b6fa;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #007ACC;
}

/* Footer Section */
footer {
    text-align: center;
    padding: 20px;
    background-color: #09022d;
    margin-top: 50px;
}

footer p {
    margin: 5px 0;
}

footer a {
    text-decoration: none;
    color: #49b6fa;
}

footer a:hover {
    text-decoration: underline;
}

/* Social Media Icons */
.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.2);
}
