/* General Styles */
body, html {
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    background-color: #02021c;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

/* Navigation Menu */
.nav-menu {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.nav-menu li {
    margin-right: 20px;
}
.nav-menu a {
    text-decoration: none;
    color: white;
    font-size: 16px; /* Increased font size */
    padding: 10px 15px;
}
.nav-menu a:hover {
    color: #49b6fa;
}

/* Content Section */
.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    padding: 20px; /* Adjusted padding for better layout */
}

.text-container {
    width: 100%;
    text-align: center;
}

.text-container h3 {
    font-size: 24px;
    font-weight: bold;
}

.text-container h2 {
    font-size: 36px;
    font-weight: bold;
}

.intro-text {
    font-size: 18px;
    font-style: italic;
    margin-top: 20px;
}

.cv-button {
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #49B6FA;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}
.cv-button:hover {
    background-color: #007BFF;
}

/* Image Styling */
.image-container {
    width: 300px;
    height: auto; /* Allow height to adjust automatically */
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 30px 10px rgba(90, 7, 184, 0.3);
    background: radial-gradient(circle, rgb(245, 246, 247), transparent);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 100%;
    height: auto; /* Ensures the full image is visible */
    object-fit: contain;
    border-radius: 50%;
}

/* Footer Section */
footer {
    text-align: center;
    padding: 20px;
    background-color: #09022d;
    margin-top: 50px;
}

footer p {
    margin: 5px 0;
}

footer a {
    text-decoration: none;
    color: #49b6fa;
}

footer a:hover {
    text-decoration: underline;
}

/* Social Media Icons */
.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.2);
}

/* Responsive Styles */
@media (max-width: 768px) {
    .content-container {
        flex-direction: column;
    }
    .text-container {
        width: 100%;
        text-align: center;
    }
    .nav-menu {
        flex-direction: column;
        align-items: center;
    }
    .nav-menu li {
        margin-bottom: 10px;
    }
}
