/* General Styles */
body, html {
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    background-color: #02021c;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

/* Navigation Menu */
header {
    position: fixed;
    width: 100%;
    background-color: #02021c;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    margin-left: 65%;
}

.nav-menu li {
    margin-right: 20px;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
}

.nav-menu a:hover {
    color: #49b6fa;
}

.hamburger-menu {
    display:none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-menu .bar {
    background-color: white;
    height: 3px;
    margin: 6% 0;
    width: 25px;
}

/* Responsive for Mobile and Tablets */
@media screen and (max-width: 768px) {
    .hamburger-menu {
        display: flex;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav-menu.active {
        display: flex;
    }

    .nav-menu li {
        margin: 10px 0;
    }
}
/* Content Section */
.content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
    padding: 50px;
}

.text-container {
    width: 50%;
}

.text-container h3 {
    font-size: 32px;
    font-weight: bold;
}

.text-container h2 {
    font-size: 48px;
    font-weight: bold;
}

.intro-text {
    font-size: 18px;
    font-style: italic;
    margin-top: 20px;
}

.cv-button {
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #49B6FA;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}
.cv-button:hover {
    background-color: #007BFF;
}

/* Image Styling */
.image-container {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 30px 10px rgba(90, 7, 184, 0.3);
    background: radial-gradient(circle, rgb(245, 246, 247), transparent);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* Footer Section */

footer {
    text-align: center;
    padding: 20px;
    background-color: #09022d;
    margin-top: 50px;
}

footer p {
    margin: 5px 0;
}

footer a {
    text-decoration: none;
    color: #49b6fa;
}

footer a:hover {
    text-decoration: underline;
}

footer .social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

footer .social-icons a img {
    width: 30px;
    height: 30px;
}
