body, html {
    width : 100%;
    font-family : sans-serif;
    background-color : #02021c;
    color : #FFFFFF;
    font-family : 'Times New Roman', Times, serif;
    text-indent : 1%;
    }
    .nav-menu {
    list-style-type : none;
    display : flex;
    margin : 0;
    padding : 0;
    }
    .nav-menu li {
    margin-right : 20px;
    }
    .nav-menu a {
    text-decoration : none;
    color : white;
    padding : 10px 15px;
    }
    .nav-menu a:hover {
    color : #49b6fa;
    }
    .proj-container {
        display : flex;
        flex-direction : row;
        justify-content : flex-start;
        row-gap : 45px; }
    .wrap1 {
    width : 277px;
    height : 5px;
    margin-left: -1cm;
    }
    .image1 {
    width : 200px;
    position : relative;
    }
    img {
    width : 277px;
    display : block;
    margin-left : 5cm;
    margin-top : 5cm;
    border-radius : 20px;
    }
    .content {
    width : 260px;
    height : 180px;
    margin-left : 5cm;
    top : 10px;
    left : 0;
    padding : 5%;
    position : absolute;
    background : linear-gradient(to bottom, #3cabc6 0%, #737373 60%, #3f3d3d 100%);
    border-radius : 20px;
    opacity : 0;
    transition : 0.6s;
    }
    .content:hover {
    opacity : 1;
    }
    .content h1 {
    font-size : 24px;
    text-align : center;
    }
    .wrap2 {
    width : 277px;
    height : 5px;
    margin-left : 10cm;
    margin-top : 0;
    position : absolute;
    }
    .image2 {
    width : 200px;
    position : relative;
    }
    img {
    width : 277px;
    display : block;
    margin-left : 5cm;
    margin-top : 5cm;
    border-radius : 20px;
    }
    .content2 {
    width : 260px;
    height : 180px;
    margin-left : 5cm;
    top : 10px;
    left : 0;
    padding : 5%;
    position : absolute;
    background : linear-gradient(to bottom, #3cabc6 0%, #737373 60%, #3f3d3d 100%);
    border-radius : 20px;
    opacity : 0;
    transition : 0.6s;
    }
    .content2:hover {
    opacity : 1;
    }
    .content2 h1 {
    font-size : 24px;
    text-align : center;
    }
  

    .wrap3 {
    width : 277px;
    height : 5px;
    margin-left : 21cm;
    margin-top : 0;
    position : absolute;
    }
    .image {
    width : 200px;
    position : relative;
    }
    img {
    width : 277px;
    display : block;
    margin-left : 5cm;
    margin-top : 5cm;
    border-radius : 20px;
    }
    .content3 {
    width : 260px;
    height : 180px;
    margin-left : 5cm;
    top: 10px;
    left : 0;
    padding : 5%;
    position : absolute;
    background : linear-gradient(to bottom, #3cabc6 0%, #737373 60%, #3f3d3d 100%);
    border-radius : 20px;
    opacity : 0;
    transition : 0.6s;
    margin-top:190px;
    }
    .content3:hover {
    opacity : 1;
    }
    .content3 h1 {
    font-size : 24px;
    text-align : center;
    }

    button {
        border-radius: 20px;
        padding: 10px 20px;
        background-color: #49B6FA;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 16px;
        margin-top: 20px;
    }
    button:hover {
        background-color: #007BFF;
    }
    

    footer {
    text-align : center;
    padding : 20px;
    background-color : #09022d;
    color : white;
    margin-top : 510px;
    bottom: 0px;
    }
    footer p {
    margin : 5px 0;
    }
    footer a {
    text-decoration : none;
    color : #49b6fa;
    }
    footer a:hover {
    text-decoration : underline;
    }